body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    overflow: hidden;
}

.btn {
    padding: 5px;
    font-size: 34px;
    text-align: center;
    width: 235px;
    border-radius: 15px;
}

.btn-primary {
    background-color: bisque;
    color: black;
    font-weight: 700;
}

.btn-secondary {
    background-color: red;
}

.alert {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.brick {
    display: none;
}